.color-selector {
  display: flex;
  gap: 2px;
}

.color-box {
  height: 16px;
  width: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.color-selector input[type="checkbox"] {
  display: none;
}

.color-checkbox {
  display: flex;
}

.color-box:hover {
  box-shadow: 0px 8.5px 8.5px 0px rgba(0, 0, 0, 0.01);
  opacity: 0.7;
}

.color-selector input[type="checkbox"]:checked + .color-box {
  border: 2px solid #b0b0b0;
}
