@import "./mixin.scss";
@import "./variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

#root {
  margin: 0 auto;
  padding: 36px;
  font-size: 14px;
  line-height: 18px;
}

body {
  background-color: $offwhite_color;
  font-family: "Cabin", sans-serif;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  border-radius: 8px;
  box-shadow: $box-shadow;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  color: $black_color;
}

hr {
  margin-top: -10px;
  background-color: $mediumgrey_color;
  height: 1px;
}

@include mediamaxwidth($layout_breakpoint_mobile) {
  body {
    margin-top: none;
    height: 740px;
  }
}
