$default_text_color: #fff;

.badge {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  color: $default_text_color;
  padding-left: 10px;
  width: 220px;
  height: 66px;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
  height: auto;
  position: relative;
}

.greenspark {
  width: 55px;
  height: auto;
}

p {
  margin: 0;
  font-size: 13px;
}

.badge_text_container p:last-child {
  font-weight: bold;
  font-size: 18px;
  margin-top: 4px;
}
