$default_text_color: #fff;
// TODO: TAKE FONT SIZE

.badge {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  color: $default_text_color;
  padding: 10px 14px 10px 12px;
  width: 250px;
  height: 55px;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.greenspark {
  width: 55px;
}

p {
  margin: 0;
  font-size: 16px;
}

.badge-container {
  display: flex;

  gap: 10px;
}

.badge_text_container p:last-child {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}
