@import "../../styles/global.scss";

.tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 114px;
  width: 216px;
  background-color: white;
  color: $black_color;
  padding: 24px 16px;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
  right: 0px;
}

.link {
  margin-top: 15px;
  a {
    position: relative;
    color: $color_green;
    font-weight: 700;
    text-decoration: none;
  }
}

@media screen and (max-width: 800px) {
  .tooltip {
    bottom: 0px;
    right: -50px;
  }
}
